<div class="modal-header">
    <div class="title-col bid-title no-cont">
        <img src="assets/Icons/hot_bids.png" alt="...">
        <h2>Insta Images</h2>
    </div>
    <div  class="close-btn pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <i class="fad fa-times"></i>
    </div>
  </div>
  <div class="modal-body insta-modal">
    <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1">
        <div class="col" *ngFor="let item of [1,2,3,4,5,6]">
            <a  [routerLink]="['']">
                <div class="theme-card">
                    <div class="cards-body">
                        <img src="assets/Images/slide-1.png" alt="....">
                    </div>
                    <div class="cards-footer">
                        <h4>Wall Painting Art Design</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>