section {
    margin-top: 20px;
}

.term-heading {
    margin-top: 150px;
}

p {
    word-break: break-all;
    margin-bottom: 2rem;
    line-height: 28px;
}

.left-space,
.left-to-space {
    padding-left: 15px;
}

@media screen and (max-width: 767px) {
    p {
        font-size: 14px;
    }
    .term-heading h2 {
        font-size: 20px;
    }
    li {
        line-height: 26px;
        font-size: 14px;
    }
    .term-heading {
        margin-top: 120px;
    }
}