<!-- not found page starts -->
<section>
    <div class="notFound-col">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-vh">
                <div class="error-inner">
                    <h1>404</h1>
                    <h2>PAGE NOT FOUND</h2>
                </div>
            </div>
        </div>
    </div>
</section>