<!-- Footer section starts -->
<section>
    <div class="footer-section">
        <div class="container">
            <div class="footer-row">
                <div class="row justify-content-between">
                    <div class="col-xl-auto col-md-6">
                        <div class="footer-cont">
                            <div class="footer-logo">
                                <a [routerLink]="['/home']"><img src="assets/Icons/logo-5.png" alt="..."></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <!--<div class="footer-cont">
                            <div class="footer-title">
                                <h5>Subscribe to our newsletter</h5>
                            </div>
                            <div class="subscribe-input">
                                <input type="email" placeholder="Email Address" class="form-control">
                                <button type="submit" class="btn">ok</button>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="col-md-auto">
                        <div class="footer-cont">
                            <div class="footer-links">
                                <ul>
                                    <li><a [routerLink]="['/my-item']">My items</a></li>
                                    <li><a [routerLink]="['/works']">How it works</a></li>
                                    <li><a [routerLink]="['/coins']">ELEN Token</a></li>
                                    <li><a [routerLink]="['/create-post']">Create</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="footer-cont">
                            <div class="footer-links">
                                <ul>
                                    <!-- <li><a (click)='aboutPage()'>About Us</a></li> -->
                                    <li><a href="/assets/files/Everlens White Paper-new.pdf" target="_blank">About Us</a></li>
                                    <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
                                    <!--  <li><a (click)="privacyPolicy()">Privacy Policy</a></li>-->
                                    <!-- <li><a (click)="saveit()">Terms & Conditions</a></li> -->
                                    <li><a [routerLink]="['/terms']">Terms & Conditions</a></li>
                                    <li><a (click)="privacy()">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="footer-cont">
                            <div class="footer-links">
                                <ul>
                                    <li><a href='https://t.me/everlensnft' target='#'><i class="fa fa-telegram"></i> Telegram</a></li>
                                    <li><a href='https://twitter.com/everlensnft?s=11' target='#'><i class="fa fa-twitter"></i> Twitter</a></li>
                                    <li><a href='https://everlensio.medium.com/' target='#'><i class="fa fa-medium"></i> Medium</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rights-col">
            <div class="container">
                <div class="rights-txt text-center">
                    <span>© Everlens, Inc. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</section>