<!-- item-details page starts -->
<section>
    <div class="item-detail-page top-space border-card section-btm-space">
        <div class="container">
            <div class="detail-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="detail-left">
                            <img src="{{itemMetadata?.image}}" alt="...">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item-detail-card">
                            <div class="theme-card border-card">
                                <div class="row ">
                                    <div class="col-12">
                                        <div class="detail-title-col d-flex align-items-center justify-content-between">
                                            <h2>{{itemMetadata?.name}}</h2>
                                            <div class="link-icon">
                                                <img src="assets/Icons/link.png" alt="...">
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <p>Minimum bidding price <span class="currency-txt">{{startPrice}} BNB</span></p>
                                            <p>{{itemMetadata?.description}}.</p>
                                        </div>
                                        <div class="bid-desp">
                                            <div class="row row-cols-2">
                                                <div class="col">
                                                    <small>{{isCreator?'Created Date:':'Purchased Date:'}}  <span class="currency-txt">{{endDate}}</span></small>
                                                </div>
                                                <div class="col">
                                                    <small> {{isCreator?'Created:':'Purchased:'}} A/m:   <span class="currency-txt">{{endPrice}} BNB</span></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btm-bid-info">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <span *ngIf="!isCreator">Purchased by: {{product_holder}}</span>
                                            <span *ngIf="isCreator">Created by: {{product_creator}}</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-row align-items-center">
                                                <div class="col-auto">
                                                    <div class="user-img">
                                                        <img src="{{profileImage?profileImage:'assets/Icons/logo.ico'}}" alt="">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="user_name d-flex align-items-center justify-content-between">
                                                        <div class="name-col">
                                                            <h5 class="m-0">{{product_holder}}</h5>
                                                           <!-- <small>@emma_x123</small> -->
                                                         </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>