<section>
  <div class="notFound-col top-space">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-12">
          <h1>How it works?</h1>

          <p>
            <b style="font-size: 20px;" class="mb-3 d-block" data-stringify-type="bold">How do you create an NFT on Everlens?</b>
          <span class="c-mrkdwn__br"
              data-stringify-type="paragraph-break"></span>
              <span class="mt-3">&ndash; Sign-up on the platform using your Instagram
              account.</span><br />
              <span>&ndash; Connect your Metamask wallet to the Binance Smart Chain in order to
              connect to Everlens. (Make sure to own at least 0.1 BNB)</span><br />
              <span>&ndash; Once you get on the
              home page, click on Create.</span><br />
              <span>&ndash; Choose a post from your instagram
              account.</span><br />
              <span>&ndash; Set a title, description, and minimum bid and click on create a
              post.<br /><br /></span>
              <span class="c-mrkdwn__br" data-stringify-type="paragraph-break"></span>
              <span>Your
              picture will be automatically converted into an NFT instantly available on the
              marketplace.<br /></span>
              <span class="c-mrkdwn__br" data-stringify-type="paragraph-break"></span>

              <b style="font-size: 20px;" data-stringify-type="bold"  class="my-3 d-block">How do you buy an NFT on Everlens?</b>

              <span class="c-mrkdwn__br"
              data-stringify-type="paragraph-break"></span>
              <span>&ndash; Sign-up on Everlens using your instagram
              account or BSC wallet.</span><br />
              <span>&ndash; Connect your Metamask wallet to the Binance Smart Chain
              in order to connect to Everlens.</span><br />
              <span>&ndash; Once you get on the home page select the NFT
              you want to buy and place a bid.</span><br />
              <span>&ndash; If you successfully placed the highest bid you
              will become the owner of the NFT post.</span></p>
        </div>
      </div>
    </div>
  </div>
</section>