<!-- header section starts -->
<header>
    <div class="headerCol" id="mySidenav">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-auto">
                    <div class="logo">
                        <a [routerLink]="['/home']"><img src="assets/Icons/logo-5.png" alt="..."></a>
                    </div>
                </div>
                <div class="col">
                    <div (click)="toggle()" class="toggle-btn d-block d-xl-none"><i class="fad fa-bars"></i></div>
                    <div class="nav-menu">
                        <div (click)="close()" class="close-btn d-block d-xl-none"><i class="fad fa-times"></i></div>
                        <div class="search-bar d-none d-xl-block">
                            <img src="assets/Icons/search.png" alt="">
                            <!-- <input type="text" class="form-control" placeholder="Search by creator or post name..." #userSearchInput [(ngModel)]="keyword">  -->
                            <input type="text" name="searchBox" #usersSearchInput [(ngModel)]="keyword" class="form-control" placeholder="Search here....">
                        </div>



                        <div class="menu-list ">
                            <ul>
                                <li (click)="close()"><a [routerLinkActive]="['active-menu']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/home']">Explore</a></li>
                                <li (click)="close()"><a [routerLinkActive]="['active-menu']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/my-item']">My Items</a></li>
                                <li (click)="close()"><a [routerLinkActive]="['active-menu']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/coins']">ELEN Token</a></li>
                                <li (click)="close()"><a [routerLinkActive]="['active-menu']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/works']">How it works</a></li>
                                <li (click)="close()"><a class="btn btn-border" [routerLinkActive]="['active-menu']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/create-post']">Create</a></li>
                                <li *ngIf="true"><a class="btn" [routerLink]="['/my-account']" (click)="close()">My account</a></li>
                                <li class="d-block d-xl-none">
                                    <div class="search-bar ">
                                        <img src="assets/Icons/search.png" alt="">
                                        <input type="search" class="form-control" placeholder="Search by creator or post name...">
                                    </div>
                                </li>
                                <li *ngIf="false">
                                    <div class="user-drop">
                                        <div class="btn-group" dropdown>
                                            <a id="button-basic" dropdownToggle type="button" class="user-drop-btn  dropdown-toggle" aria-controls="dropdown-basic">
                                                <div class="drop-user">
                                                    <img src="assets/Icons/logo.ico" alt="..">
                                                </div>
                                                <span>William Smith</span>
                                            </a>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu " role="menu" aria-labelledby="button-basic">
                                              <li role="menuitem">
                                                <a class="dropdown-item d-flex align-items-center p-2" >
                                                    <div class="userImg_lg">
                                                        <img src="assets/Icons/logo.ico" alt="..">
                                                    </div>
                                                    <div class="name-email ml-2">
                                                        <h6 class="m-0">William Smith</h6>
                                                        <span class="text_sm">william123@gmail.com</span>
                                                    </div>
                                                    </a>
                                                </li>
                                                <li role="menuitem"><a class="dropdown-item" [routerLink]="['/my-account']">My Account</a></li>
                                                <li role="menuitem"><a class="dropdown-item" [routerLink]="['/wallet']">Wallet</a></li>
                                                <li role="menuitem"><a class="dropdown-item" [routerLink]="['/']">Log out</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>