<!-- contact-us sections starts -->

<section>
  <div class="create-post-section  section-btm-space top-space">
    <div class="container">
      <div class="create-post-wrapper">
        <div class="title-col no-cont">
          <h2>Contact Us</h2>
        </div>
        <div class="create-inner">
          <!--  <div class="insta-col" *ngIf="selectedImage">
                <div class="create-fieldstyle">
                    <div class="theme-card">
                        <img src="{{selectedImage}}" alt="...." class="w-100">
                    </div>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Change Image</button>
                </div>
            </div>
            -->
          <form [formGroup]="postForm" (ngSubmit)='contactUs()' >
          <!-- <div class="create-fieldstyle" *ngIf="!selectedImage">
            <label>Select file</label>
            <div class="upload-col">
              <img src="assets/Icons/instagram_large@2x.png" alt="...">
            <br>
              <span *ngIf="access_token1" >Select file from Instgram</span>
               <div class="upload-btn-wrapper">
                <button class="btn text-captalize btn-sm">Choose file</button>
                <input type="file" name="myfile" />
              </div>           
               <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" *ngIf="access_token1 && !isLoading" >Choose File</button> 
                <button class="btn btn-primary" (click)="saveit()"  *ngIf="!access_token1 && !isLoading">
                <a style="color:white" href="https://api.instagram.com/oauth/authorize?client_id=2864559007130049&redirect_uri=https://everlens.io/create-post/&scope=user_profile,user_media&response_type=code">
                CONNECT WITH INSTAGRAM
                </a>
                </button>
          </div>
          </div>
          -->
          <div class="create-fieldstyle">
            <label>Email<sup>*</sup></label>
            <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
            <!-- <small *ngIf="!submitting &&  postForm.controls.name.errors" class="text-danger pt-2">
                      Name  is required
                    </small>-->
                     <div *ngIf="postForm.controls['email'].invalid && (postForm.controls['email'].dirty || postForm.controls['email'].touched)"
                                  class="alert alert-danger">
  
                                  <div *ngIf="postForm.controls['email'].errors?.required">
                                      <small>Email is required. </small>
                                  </div>
                                  <div *ngIf="postForm.controls['email'].errors?.email">
                                      <small>Please enter valid email </small>
                                  </div>
                              </div>
          </div>
          <div class="create-fieldstyle">
            <label>Subject<sup>*</sup></label>
            <div class="eth-col">
              <input type="text" class="form-control" placeholder="Enter Subject" formControlName="subject">
              <!--<small *ngIf="!submitting &&  postForm.controls.minBidAmount.errors" class="text-danger pt-2">
                    minBidAmount is required
                    </small>-->
                     <div *ngIf="postForm.controls['subject'].invalid && (postForm.controls['subject'].dirty || postForm.controls['subject'].touched)"
                                  class="alert alert-danger">
  
                                  <div *ngIf="postForm.controls['subject'].errors">
                                      <small>Subject is required. </small>
                                  </div>
                              </div>
              
            </div>
          </div>
          <div class="create-fieldstyle">
            <label>Message<sup>*</sup></label>
            <input type="text" class="form-control" placeholder="Enter Message" formControlName="message">
            <!--<small *ngIf="!submitting &&  postForm.controls.description.errors" class="text-danger pt-2">
                  Description is required
                    </small>-->
                             <div *ngIf="postForm.controls['message'].invalid && (postForm.controls['message'].dirty || postForm.controls['message'].touched)"
                                  class="alert alert-danger">
  
                                  <div *ngIf="postForm.controls['message'].errors">
                                      <small> Message is required. </small>
                                  </div>
                              </div>
          </div>
          <div class="create-fieldstyle">
            <button class="btn btn-xl  w-100" data-toggle="modal" data-target="#staticBackdrop" [disabled]="!postForm.valid"  >SEND
              <span [ngClass]="submitting ? 'spinner-grow spinner-grow-sm ml-2' : ''" role="status"
                aria-hidden="true"></span>
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>


