<!-- sign In section starts -->
<section>
    <div class="sigincol purple-overlay full-height">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-wrapper">
                        <div class="logo">
                            <a [routerLink]="['/home']"><img src="assets/Icons/logo-5.png" alt="..."></a>
                        </div>
                        <div class="form-inner">
                            <div class="form-title">
                                <h2>Sign In.</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="form-col">
                                <div class="row row-cols-1 row-cols-md-2 ">
                                    <div class="col">
                                        <div class="form-group field-style">
                                            <label>Email</label>
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group field-style">
                                            <label>Password</label>
                                            <div class="password-input">
                                                <i class="far fa-eye-slash"></i>
                                                <input type="password" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="forget-password text-right">
                                    <small><a [routerLink]="['/forget-password']">Forget Password</a></small>
                                </div>
                                <div class="btn-col">
                                    <button [routerLink]="['/home']" class="btn btn-xl w-100">Sign In</button>
                                </div>
                                <div class="accnt">
                                    <small class="small_bold">Don't have an account? <span class="purple-link"><a [routerLink]="['/']">Sign Up</a></span></small>
                                </div>
                                <div class="line">
                                    <span>OR</span>
                                </div>
                                <div class="insta-btn">
                                    <button class="auth-btn" (click)="loginData()">
                                        <img src="assets/Icons/insta.png" alt="">
                                        <span>CONNECT WITH INSTAGRAM</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copy-right">
                        <small class="small_bold">© Company name, Inc. All rights reserved.</small>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="form-right ">
                        <div class="wave-shapes shapes"><img src="assets/Icons/wave_lines.png" alt="...."></div>
                        <div class="dot-horz shapes"><img src="assets/Icons/dot.png" alt=""></div>
                        <div class="dot-vert shapes"><img src="assets/Icons/dots_vert.png" alt=""></div>
                        <div class="form-img">
                            <img src="assets/Icons/form-img.png" alt="....">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>