<!-- wallet section starts -->
<section>
    <div class="connect-wallet-section auth-section-height section-btm-space  auth-top-space">
        <div class="auth-warpper">
            <div class="container">
                <div class="stepList">
                    <ul class="d-flex">
                      <li>
                        <a  [routerLink]="['/my-account']" >
                          <span>My Account </span>
                        </a>
                      </li>
                      <li>
                        <a >
                          <span class="active-stepList">Personal Info</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="title-col no-cont">
                      <h2>Wallet</h2>
                  </div>
                  <div class="wallet-amount">
                      <div class="theme-card border-card d-flex align-items-end">
                          <img src="assets/Icons/bsc_logo.png" alt="...."> 
                          <h5 ><span class="currency-txt txt-md">{{balance}}</span></h5>
                          <small>Total balance</small>
                      </div>
                  </div>
             </div>
         </div>
    </div>
</section>