<!-- create post sections starts -->

<section>
  <div class="create-post-section  section-btm-space top-space">
    <div class="container">
      <div class="create-post-wrapper">
        <div class="title-col no-cont">
          <h2>Create post</h2>
        </div>
        <div class="create-inner">
          <div class="insta-col" *ngIf="selectedImage">
            <div class="create-fieldstyle">
              <div class="theme-card">
                <img src="{{selectedImage}}" alt="...." class="w-100">
              </div>
              <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Change Image</button>
            </div>
          </div>
          <form [formGroup]="postForm">
            <div class="create-fieldstyle" *ngIf="!selectedImage">
              <label>Select file</label>
              <div class="upload-col">
                <img src="assets/Icons/instagram_large@2x.png" alt="...">
                <br>
                <span *ngIf="access_token1">Select file from Instgram</span>
                <!-- <div class="upload-btn-wrapper">
                <button class="btn text-captalize btn-sm">Choose file</button>
                <input type="file" name="myfile" />
              </div> -->
          
               <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" *ngIf="access_token1 && !isLoading" >Choose File</button> 
                <button class="btn btn-primary" (click)="saveit()"  *ngIf="!access_token1 && !isLoading">
                <a style="color:white" href="https://api.instagram.com/oauth/authorize?client_id=2864559007130049&redirect_uri=https://everlens.io/create-post/&scope=user_profile,user_media&response_type=code">
                CONNECT WITH INSTAGRAM
                </a>
                </button>
              </div>
            </div>
            <div class="create-fieldstyle">
              <label>Title<sup>*</sup></label>
              <input type="text" class="form-control" placeholder="Title" formControlName="name">
              <!-- <small *ngIf="!submitting &&  postForm.controls.name.errors" class="text-danger pt-2">
                      Name  is required
                    </small>-->
              <div
                *ngIf="postForm.controls['name'].invalid && (postForm.controls['name'].dirty || postForm.controls['name'].touched)"
                class="alert alert-danger">

                <div *ngIf="postForm.controls['name'].errors">
                  <small>Title is required. </small>
                </div>
              </div>
            </div>
            <div class="create-fieldstyle">
              <label>Minimum bid amount<sup>*</sup></label>
              <div class="eth-col">
                <input type="text" class="form-control" placeholder="Bid amount" formControlName="minBidAmount"
                  pattern="[0-9]+([\.,][0-9]+)?">
                <!--<small *ngIf="!submitting &&  postForm.controls.minBidAmount.errors" class="text-danger pt-2">
                    minBidAmount is required
                    </small>-->
                <div
                  *ngIf="postForm.controls['minBidAmount'].invalid && (postForm.controls['minBidAmount'].dirty || postForm.controls['minBidAmount'].touched)"
                  class="alert alert-danger">

                  <div *ngIf="postForm.controls['minBidAmount'].errors">
                    <small>Minimum bid amount is required in number. </small>
                  </div>
                </div>
                <div class="eth-div">
                  <span>BNB</span>
                </div>
              </div>
            </div>
            <div class="create-fieldstyle">
              <label>Description<sup>*</sup></label>
              <input type="text" class="form-control" placeholder="Description" formControlName="description">
              <!--<small *ngIf="!submitting &&  postForm.controls.description.errors" class="text-danger pt-2">
                  Description is required
                    </small>-->
              <div
                *ngIf="postForm.controls['description'].invalid && (postForm.controls['description'].dirty || postForm.controls['description'].touched)"
                class="alert alert-danger">

                <div *ngIf="postForm.controls['description'].errors">
                  <small> Description is required. </small>
                </div>
              </div>
            </div>
            <div class="create-fieldstyle">
              <button class="btn btn-xl  w-100"
                [disabled]="!postForm.valid" (click)="createPost(createPostModal)">CREATE POST
                <span [ngClass]="submitting ? 'spinner-grow spinner-grow-sm ml-2' : ''" role="status"
                  aria-hidden="true"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<ng-template #createPostModal>

  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Follow Steps</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBtn>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="steps-row">
      <div class="row align-items-center">
        <div class="col-auto">
          <div class="step-left">
            <div class="spinner-border text-primary" role="status" *ngIf="mintingAuction">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="tick" *ngIf="!mintingAuction && mintingAuctionCompleted">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="step-right">
            <h3>Mint</h3>
            <span>Send transaction to create your NFT</span>
          </div>
        </div>
      </div>
      <div class="step-btn">
        <button class="btn grey-btn d-block" *ngIf="mintingAuction">In Progress</button>
        <button class="btn d-block w-100" *ngIf="!mintingAuction && mintingAuctionCompleted">Minted</button>
      </div>
    </div>
    <div class="steps-row mt-3">
      <div class="row align-items-center">
        <div class="col-auto">
          <div class="step-left">
            <div class="spinner-border text-primary" role="status" *ngIf="creatingAunction">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="tick" *ngIf="!creatingAunction && creatingAunctionCompleted">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="step-right">
            <h3>Auction</h3>
            <span>Sign message to create auction</span>
          </div>
        </div>
      </div>
      <div class="step-btn">
        <button class="btn grey-btn d-block" *ngIf="creatingAunction">In Progress</button>
        <button class="btn d-block w-100" *ngIf="!creatingAunction && creatingAunctionCompleted">Auction
          Created</button>
      </div>
    </div>

  </div>
</ng-template>


<!-- insta modal -->

<div class="modal fade insta-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="title-col no-cont mb-0">
          <h2>Select Image</h2>
        </div>
        <div class="close-btn" data-dismiss="modal" aria-label="Close"><i class="far fa-times"></i></div>
      </div>
      <div class="modal-body" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-1">
          <div class="col" *ngFor="let item of instaImages">
            <div class="theme-card insta-card" (click)="selectImage(item)" data-dismiss="modal">
              <!-- <img src="https://picsum.photos/id/1/200/300" alt="...." class="w-100"> -->
              <img [src]="item" alt="..." class="w-100">
              <h4 class="mt-3 mb-0 text-center"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>