@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-MediumItalic.eot');
    src: local('FontCircular Std Medium Italic'), local('assets/Font/CircularStd-MediumItalic'),
        url('assets/Font/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/Font/CircularStd-MediumItalic.woff2') format('woff2'),
        url('assets/Font/CircularStd-MediumItalic.woff') format('woff'),
        url('assets/Font/CircularStd-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-Black.eot');
    src: local('Circular Std Black'), local('assets/Font/CircularStd-Black'),
        url('assets/Font/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/Font/CircularStd-Black.woff2') format('woff2'),
        url('assets/Font/CircularStd-Black.woff') format('woff'),
        url('assets/Font/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-Medium.eot');
    src: local('assets/Font/Circular Std Medium'), local('assets/Font/CircularStd-Medium'),
        url('assets/Font/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/Font/CircularStd-Medium.woff2') format('woff2'),
        url('assets/Font/CircularStd-Medium.woff') format('woff'),
        url('assets/Font/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-Bold.eot');
    src: local('Font/Circular Std Bold'), local('assets/Font/CircularStd-Bold'),
        url('assets/Font/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/Font/CircularStd-Bold.woff2') format('woff2'),
        url('assets/Font/CircularStd-Bold.woff') format('woff'),
        url('assets/Font/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-BlackItalic.eot');
    src: local('Circular Std Black Italic'), local('assets/Font/CircularStd-BlackItalic'),
        url('assets/Font/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/Font/CircularStd-BlackItalic.woff2') format('woff2'),
        url('assets/Font/CircularStd-BlackItalic.woff') format('woff'),
        url('assets/Font/CircularStd-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-Black.eot');
    src: url('assets/Font/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/Font/CircularStd-Black.woff2') format('woff2'),
        url('assets/Font/CircularStd-Black.woff') format('woff'),
        url('assets/Font/CircularStd-Black.ttf') format('truetype'),
        url('assets/Font/CircularStd-Black.svg#CircularStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Circular Std Book';
    src: url('assets/Font/CircularStd-BookItalic.eot');
    src: local('Circular Std Book Italic'), local('assets/Font/CircularStd-BookItalic'),
        url('assets/Font/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/Font/CircularStd-BookItalic.woff2') format('woff2'),
        url('assets/Font/CircularStd-BookItalic.woff') format('woff'),
        url('assets/Font/CircularStd-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-BoldItalic.eot');
    src: local('Circular Std Bold Italic'), local('assets/Font/CircularStd-BoldItalic'),
        url('assets/Font/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/Font/CircularStd-BoldItalic.woff2') format('woff2'),
        url('assets/Font/CircularStd-BoldItalic.woff') format('woff'),
        url('assets/Font/CircularStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('assets/Font/CircularStd-Book.eot');
    src: local('assets/Font/Circular Std Book'), local('assets/Font/CircularStd-Book'),
        url('assets/Font/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('assets/Font/CircularStd-Book.woff2') format('woff2'),
        url('assets/Font/CircularStd-Book.woff') format('woff'),
        url('assets/Font/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

