<!-- Edit Info section starts -->
<section>
    <div class="Edit-info-section auth-section-height section-btm-space  auth-top-space ">
        <div class="auth-wrapper">
            <div class="container">
                <div class="stepList">
                  <ul class="d-flex">
                    <li>
                      <a [routerLink]="['/my-account']">
                        <span>My Account</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <span class="active-stepList">Personal Info</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="title-col no-cont">
                    <h2>Personal Information</h2>
                </div>
                <div class="row">
                  <div class="col-lg-6 order-lg-2 mb-3">
                      <div class="change-img">
                        <div class="theme-card border-card">
                            <div class="uplImg">
                              <img src="assets/Icons/logo.ico" alt="....">
                            </div>
                            <div class="upload-col">
                                <div class="upload-btn-wrapper">
                                    <button class="btn text-captalize btn-sm">Change Photo</button>
                                    <input type="file" name="myfile" />
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="personal-infocol">
                      <div class="info-div theme-card border-card ">
                        <div class="inner-Info d-flex justify-content-between">
                          <span >Name</span>
                          <div class="action-col">
                            <a><strong>Cancel</strong></a>
                          </div>
                        </div>
                        <input type="text" class="form-control" placeholder="William Smith">
                        <button class="btn">Save</button>
                      </div>
                      <div class="info-div theme-card border-card ">
                        <div class="inner-Info d-flex justify-content-between">
                          <span >Username</span>
                          <div class="action-col">
                            <a><strong>Cancel</strong></a>
                          </div>
                        </div>
                        <input type="text" class="form-control" placeholder="William_x123">
                        <button class="btn">Save</button>
                      </div>
                      <div class="info-div theme-card border-card ">
                        <div class="inner-Info d-flex justify-content-between">
                          <span >Email</span>
                          <div class="action-col">
                            <a><strong>Cancel</strong></a>
                          </div>
                        </div>
                        <input type="text" class="form-control" placeholder="william123@gmail.com">
                        <button class="btn">Save</button>
                      </div>
                    </div>
                 </div>
              </div>
            </div>
         </div>
      </div>
  </section>