<!-- connect wallet page starts -->

<section>
    <div class="connect-wallet-section auth-section-height section-btm-space  auth-top-space">
        <div class="auth-warpper">
            <div class="container">
                <div class="stepList">
                    <ul class="d-flex">
                      <li>
                        <a href="javascript:void(0)"  [routerLink]="['/my-account']">
                          <span>My Account </span>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <span class="active-stepList">Personal Info</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="title-col no-cont">
                      <h2>Connect your wallet</h2>
                  </div>
                  <div class="item-info">
                      <p>Connect with Binance Smart Chain wallet. <span class="currency-txt cursor d-block d-sm-inline-block"></span></p>
                 </div>
                 <div class="wallet-btn ">
                     <button class="btn btn-wallet"  [routerLink]="['/wallet']"><img src="assets/Icons/bsc_logo.png"> Binance Smart Chain Wallet</button>
                 </div>
                 <div class="item-info">
                   
               </div>
            </div>
        </div>
    </div>
</section>