/* You can add global styles to this file, and also import other style files */

@import "~swiper/swiper-bundle";
@import '~bootstrap/scss/bootstrap';
body {
    font-family: 'Circular Std Book'!important;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-MediumItalic.eot');
    src: local('FontCircular Std Medium Italic'), local('assets/Font/CircularStd-MediumItalic'), url('assets/Font/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('assets/Font/CircularStd-MediumItalic.woff2') format('woff2'), url('assets/Font/CircularStd-MediumItalic.woff') format('woff'), url('assets/Font/CircularStd-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-Black.eot');
    src: local('Circular Std Black'), local('assets/Font/CircularStd-Black'), url('assets/Font/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('assets/Font/CircularStd-Black.woff2') format('woff2'), url('assets/Font/CircularStd-Black.woff') format('woff'), url('assets/Font/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-Medium.eot');
    src: local('assets/Font/Circular Std Medium'), local('assets/Font/CircularStd-Medium'), url('assets/Font/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('assets/Font/CircularStd-Medium.woff2') format('woff2'), url('assets/Font/CircularStd-Medium.woff') format('woff'), url('assets/Font/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-Bold.eot');
    src: local('Font/Circular Std Bold'), local('assets/Font/CircularStd-Bold'), url('assets/Font/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('assets/Font/CircularStd-Bold.woff2') format('woff2'), url('assets/Font/CircularStd-Bold.woff') format('woff'), url('assets/Font/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-BlackItalic.eot');
    src: local('Circular Std Black Italic'), local('assets/Font/CircularStd-BlackItalic'), url('assets/Font/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('assets/Font/CircularStd-BlackItalic.woff2') format('woff2'), url('assets/Font/CircularStd-BlackItalic.woff') format('woff'), url('assets/Font/CircularStd-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('assets/Font/CircularStd-BookItalic.eot');
    src: local('Circular Std Book Italic'), local('assets/Font/CircularStd-BookItalic'), url('assets/Font/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('assets/Font/CircularStd-BookItalic.woff2') format('woff2'), url('assets/Font/CircularStd-BookItalic.woff') format('woff'), url('assets/Font/CircularStd-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('assets/Font/CircularStd-BoldItalic.eot');
    src: local('Circular Std Bold Italic'), local('assets/Font/CircularStd-BoldItalic'), url('assets/Font/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('assets/Font/CircularStd-BoldItalic.woff2') format('woff2'), url('assets/Font/CircularStd-BoldItalic.woff') format('woff'), url('assets/Font/CircularStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('assets/Font/CircularStd-Book.eot');
    src: local('assets/Font/Circular Std Book'), local('assets/Font/CircularStd-Book'), url('assets/Font/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('assets/Font/CircularStd-Book.woff2') format('woff2'), url('assets/Font/CircularStd-Book.woff') format('woff'), url('assets/Font/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.loader {
    display: table;
    margin: 0 auto;
    .spinner-border {
        width: 150px!important;
        height: 150px!important;
        border: 8px solid #b24bf3!important;
    }
}

.custom-select {
    background-image: url(./assets/Icons/down_arrow@2x.png)!important;
    background-repeat: no-repeat;
    background-position: center right 7px;
    background-size: 13px;
    background: none!important;
    -webkit-appearance: auto!important;
    appearance: auto!important;
}

.networkCont {
    h3 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 3px;
        margin-top: 10px;
    }
}

// Follow moadl
.tick i {
    color: #a79c9c;
    font-size: 27px;
}

.step-right h3 {
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 600;
}

.step-right p {
    color: #999090;
}

.step-btn {
    margin-top: 20px;
}

.grey-btn {
    background: #cec0c0 !important;
    width: 100%!important;
}

.modal-dialog.follow-popup {
    max-width: 380px!important;
}

.modal-content {
    border-radius: 25px!important;
}

.bid-slider .swiper-container .swiper-button-next {
    top: -1%!important;
    right: 0!important;
    width: auto!important;
    height: auto!important;
    margin: 0!important;
    display: block;
}

.bid-slider .swiper-container .swiper-button-prev {
    left: auto!important;
    top: -1%!important;
    right: 3%!important;
    width: auto!important;
    height: auto!important;
    margin: 0!important;
    display: block;
}

.bid-slider .swiper-container .swiper-button-next:after {
    content: "\f178"!important;
    background-color: #fff;
    border: 1px solid #f4e2ff;
    box-shadow: 0 3px 6px rgba(178, 75, 243, .10196078431372549);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #b24bf3!important;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome"!important;
}

.bid-slider .swiper-container .swiper-button-prev:after {
    content: "\f177"!important;
    background-color: #fff;
    border: 1px solid #f4e2ff;
    box-shadow: 0 3px 6px rgba(178, 75, 243, .10196078431372549);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #b24bf3!important;
    ;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome"!important;
}

// insta images modals
.insta-modal {
    .modal-dialog {
        max-width: 1000px!important;
        .modal-body {
            overflow-y: auto;
            max-height: 700px;
            padding-bottom: 0!important;
        }
    }
    .insta-card {
        height: calc(100% - 20px);
        margin-bottom: 20px;
        box-shadow: 2px 4px 16px #352e392b;
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 280px;
            border-radius: 10px;
        }
    }
}

.insta-col {
    .create-fieldstyle {
        text-align: center;
        padding: 25px;
        width: 100%;
        border-radius: 8px;
        margin-bottom: 20px;
        .theme-card {
            height: 280px;
            width: 300px;
            margin: 0 auto;
            margin-bottom: 20px;
            box-shadow: 2px 4px 16px #2e26334d;
            img {
                height: 100%;
                width: 100%;
                object-position: center;
                object-fit: cover;
            }
        }
    }
}

// variables
$gray_text:#606264;
$purple_text:#B24BF3;
$black-txt:#2A2A2A;
$white-txt:#ffffff;
$base-font:18px;
$theme-border: #F4E2FF;
.currency-txt {
    color: $purple_text;
    font-weight: 600;
    font-size: 13px;
}

.custom-select {
    width: 118px;
    padding: 6px 12px;
    border: 1px solid $theme-border;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0px 3px 6px #0000000F;
}

.h-vh {
    height: 100vh;
}

.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #b34ef3!important;
}

@media(min-width:1280px) {
    .container {
        max-width: 1240px!important;
    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1350px!important;
    }
}

@media(min-width:1680px) {
    .container {
        max-width: 1640px!important;
    }
}

img {
    max-width: 100%;
}

ol,
ul {
    list-style-type: none;
    margin: 0!important;
    padding: 0!important;
}

a,
a:hover {
    text-decoration: none!important;
    color: inherit;
}

img:focus {
    outline: none!important;
}

input:focus {
    border-color: $purple_text!important;
    box-shadow: 0 0 0 0.2rem rgb(178 76 243 / 34%)!important;
}

.auth-top-space {
    margin-top: 140px;
}

.auth-section-height {
    min-height: calc(100vh - 529px);
}

.top-space {
    margin-top: 160px;
}

.section-space {
    margin: 70px 0;
}

.section-btm-space {
    margin-bottom: 100px;
}

.section-height {
    min-height: calc(100vh - 549px);
}

.cursor {
    cursor: pointer!important;
}

@mixin flex {
    display: flex;
    align-items: center;
}

.btn {
    background-image: linear-gradient(to right, #C077EE 0%, #B24BF3, #8E2DE2, #C077EE);
    color: #fff !important;
    font-size: calc(16px - 3px)!important;
    font-weight: 500 !important;
    line-height: 20px !important;
    text-transform: uppercase;
    padding: 5px 15px!important;
    letter-spacing: 0.18px;
    border: 2px solid transparent!important;
    transition: all 500ms ease-in-out 0s!important;
    background-size: 300% 100%;
    box-shadow: 0px 4px 9px 0px rgb(190 113 239 / 59%)!important;
    border-radius: 6px!important;
    &:hover {
        background-position: 100% 0!important;
    }
}

.btn.btn-sm {
    padding: 5px 30px!important;
    text-transform: capitalize;
}

.btn.btn-border {
    background-color: #ffffff!important;
    color: $purple_text!important;
    background-image: none!important;
    border: 2px solid #B24BF3!important;
    padding: 5px 25px!important;
    font-weight: 500!important;
    box-shadow: none!important;
    &:hover {
        box-shadow: 0px 4px 9px 0px rgb(190 113 239 / 59%)!important;
    }
}

.btn.btn-xl {
    padding: 7px 25px!important;
}

.btn.btn-wallet {
    border: 2px solid #B24BF3 !important;
    background-color: #fff !important;
    background-image: none;
    color: #2A2A2A!important;
    box-shadow: none !important;
    border-radius: 27px!important;
    padding: 13px 20px!important;
    position: relative;
    text-align: center;
    min-width: 340px;
    font-weight: 600!important;
    &:hover {
        box-shadow: 0px 4px 9px 0px rgb(190 113 239 / 59%)!important;
    }
    img {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
    }
}

.auth-btn {
    border: 1px solid #E5E5E5;
    // background-color: #ffffff;
    box-shadow: 0px 3px 6px #0000000A;
    border-radius: 4px;
    padding: 10px 40px;
    text-align: center;
    font-size: calc(16px - 3px);
    line-height: 20px;
    font-weight: 500;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #ffff 0%, #ffff, #EECDA3, #EF629F);
    transition: all 500ms ease-in-out 0s;
    img {
        margin-right: 20px;
    }
    &:hover {
        background-position: 100% 0;
        color: #fff;
    }
}

.bid-title.title-col {
    margin-bottom: 15px
}

.title-col {
    @include flex;
    margin-bottom: 20px;
    img {
        margin-right: 12px;
    }
    h2 {
        color: #2A2A2A;
        margin: 0;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        position: relative;
        z-index: 1;
        // &:after {
        //     content: "HB";
        //     position: absolute;
        //     right: -60%;
        //     top: 0;
        //     font-size: calc(90px - 20px);
        //     color: #F5F5F5;
        //     line-height: 50px;
        //     z-index: -1;
        // }
    }
    // .trend:after {
    //     content: "T";
    //     right: -10px;
    // }
    // .hall:after {
    //     content: "HF";
    //     right: -5px;
    // }
}

// Toggle section starts
.toggle-btn,
.close-btn {
    text-align: right;
    i {
        color: #B24BF3;
        font-size: 25px;
    }
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

// footer section starts
.footer-section {
    background-color: #FAFAFA;
    .footer-row {
        padding: 60px 0;
    }
    .footer-cont {
        .footer-logo {
            h2 {
                color: $purple_text;
                font-size: 30px;
                font-weight: 900;
                margin: 0;
            }
        }
        .footer-title {
            h5 {
                font-size: calc(20px - 2px);
                line-height: 28px;
                color: $black-txt;
                margin-bottom: 15px;
            }
        }
        .subscribe-input {
            position: relative;
            input {
                padding: 12px 60px 12px 10px;
                font-size: 14px;
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                box-shadow: none!important;
                border-radius: 0 4px 4px 0px!important;
            }
        }
        .footer-links {
            ul {
                li {
                    a {
                        font-size: calc(20px - 3px);
                        line-height: 28px;
                        cursor: pointer;
                        color: $black-txt;
                        position: relative;
                        &:before {
                            display: block;
                            position: absolute;
                            content: '';
                            -webkit-transform: scaleX(0);
                            -ms-transform: scaleX(0);
                            transform: scaleX(0);
                            left: 0;
                            right: 0;
                            bottom: -3px;
                            height: 1px;
                            background-color: $purple_text;
                            transform-origin: 100% 0%;
                            -webkit-transition: transform 500ms ease-in-out 0s;
                            -o-transition: transform 500ms ease-in-out 0s;
                            transition: transform 500ms ease-in-out 0s;
                        }
                        &:hover:before {
                            -webkit-transform: scaleX(1);
                            -ms-transform: scaleX(1);
                            transform: scaleX(1);
                            transform-origin: 0% 50%;
                        }
                    }
                    i {
                        color: #A020F0;
                        margin-right: 10px;
                        transition: all 500ms ease-in-out 0s;
                    }
                    i:hover {
                        transform: scale(1.2);
                    }
                    +li {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .rights-col {
        background-color: #2F004B;
        padding: 15px 0;
        .rights-txt {
            span {
                color: $white-txt;
                font-size: calc(18px - 2px);
                line-height: 25px;
            }
        }
    }
}

// header section starts
.headerCol {
    box-shadow: 0px 4px 8px #0000000F;
    background-color: #ffffff;
    padding: 22px 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.logo,
.footer-logo {
    width: 315px;
    img {
        width: 100%;
    }
}

.nav-menu {
    @include flex;
    justify-content: flex-end;
    .search-bar {
        position: relative;
        width: 240px;
        img {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(0, -50%);
        }
        input {
            padding: 5px 15px 5px 55px;
            height: auto;
            font-size: 16px;
            color: $gray_text;
            &::placeholder {
                font-size: 14px;
                color: $gray_text;
            }
        }
    }
    .menu-list {
        &>ul {
            @include flex;
            &>li {
                margin-left: 25px;
                &>a {
                    font-size: calc(18px - 1px);
                    color: $gray_text;
                    position: relative;
                    cursor: pointer;
                    &:not(.btn):before {
                        position: absolute;
                        content: "";
                        width: 6px;
                        height: 6px;
                        background-color: #B24BF3;
                        border-radius: 50%;
                        bottom: -11px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        opacity: 0;
                        visibility: hidden;
                        transition: all 500ms ease-in-out 0s;
                    }
                    &.active-menu {
                        color: $purple_text;
                    }
                    &.active-menu:not(.btn):before {
                        opacity: 1;
                        visibility: visible;
                    }
                    &:not(.btn):hover:before {
                        opacity: 1;
                        visibility: visible;
                    }
                    &:not(.btn):hover {
                        color: $purple_text
                    }
                }
            }
        }
    }
}

.user-drop {
    .user-drop-btn {
        padding: 20px 0!important;
        @include flex;
        .drop-user {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        &::after {
            display: none!important;
        }
        span {
            color: $black-txt!important;
            font-size: $base-font - 2px!important;
            font-weight: 600;
            margin-left: 10px;
        }
    }
    .userImg_lg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
    .dropdown-menu {
        border: 1px solid $theme-border!important;
        box-shadow: 3px 6px 12px #B24BF30F!important;
        li {
            &:nth-child(1) {
                border-bottom: 1px solid $theme-border!important;
                position: relative;
                &:after {
                    content: "";
                    top: -11px;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0%) rotate(45deg);
                    width: 20px;
                    height: 20px;
                    border: 1px solid $theme-border;
                    border-right: 0;
                    border-bottom: 0;
                    background-color: #ffffff;
                }
                &:hover:after {
                    background-color: $theme-border;
                }
            }
            &:last-child {
                border-top: 1px solid $theme-border!important;
            }
        }
        .name-email {
            h6 {
                color: $black-txt;
                font-size: $base-font - 2px;
                font-weight: 600;
            }
            span {
                color: $gray_text;
                font-size: $base-font - 4px;
                font-weight: 500;
            }
        }
        .dropdown-item {
            padding: 10px 15px!important;
            color: $black-txt;
            font-size: 15px;
            &:focus,
            &:hover {
                background-color: $theme-border;
                color: $black-txt!important;
            }
        }
    }
}

// Home page scss starts
.theme-card {
    background: #FFFFFF;
    box-shadow: 2px 4px 16px #B24BF31A;
    padding: 20px;
    border-radius: 10px;
    .user-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .user_name {
        .name-col {
            h5 {
                color: $black-txt;
                font-size: calc(18px - 2px);
                font-weight: 700;
                line-height: 22px;
            }
        }
        .options {
            cursor: pointer;
            i {
                font-size: 18px;
                color: $gray_text;
            }
        }
    }
    .cards-body {
        margin: 15px 0;
        border-radius: 10px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .cards-footer {
        h4 {
            font-size: calc(22px - 2px);
            line-height: 30px;
            font-weight: 900;
            color: $black-txt;
            margin: 0;
            +small {
                margin: 6px 0;
            }
        }
    }
    small {
        font-size: calc(16px - 1px);
        line-height: 22px;
        color: $gray_text;
        display: block;
    }
}

// Bid section starts
.bid-wrapper {
    position: relative;
    .bid-slider {
        overflow: hidden;
        padding: 15px;
        margin: 0 -15px;
        .swiper-container {
            overflow: visible!important;
            position: relative;
        }
    }
    .slide-btn {
        @include flex;
        width: 90px;
        justify-content: space-between;
        position: absolute;
        top: -70px;
        right: 0;
        .swiper-btn {
            border: 1px solid #F4E2FF;
            box-shadow: 0px 3px 6px #B24BF31A;
            width: calc(40px - 5px);
            height: calc(40px - 5px);
            @include flex;
            justify-content: center;
            border-radius: 50%;
            i {
                color: $purple_text;
                font-size: 16px;
            }
            &:focus {
                outline: 0!important;
            }
        }
    }
}

// Trending section starts
.trending-section {
    .row>[class*=col] {
        margin-bottom: 30px;
    }
    .theme-card {
        padding: 15px;
        .cards-body {
            height: 230px;
        }
        .cards-footer {
            h4 {
                font-size: calc(22px - 4px);
                line-height: 25px;
                font-weight: 900;
                color: $black-txt;
                margin: 0;
            }
        }
    }
}

// Hall section starts
.theme-card.border-card {
    border: 1px solid $theme-border;
}

.hall-section {
    .row>[class*=col] {
        margin-bottom: 30px;
    }
    .theme-card {
        .cards-header {
            .number-box {
                width: 35px;
                height: 35px;
                background: transparent linear-gradient(124deg, #C077EE 0%, #B24BF3 100%);
                @include flex;
                justify-content: center;
                span {
                    color: #fff;
                    font-size: calc(18px - 2px);
                }
            }
        }
    }
}

// Sign-up section starts
.form-wrapper {
    padding-right: 70px;
    min-height: calc(100vh - 134px);
    margin-top: 50px;
    .logo {
        margin-bottom: 60px;
    }
}

.copy-right {
    padding: 30px 0;
}

.form-title {
    margin-bottom: 30px;
    h2 {
        color: $black-txt;
        font-size: calc(34px - 4px);
        line-height: 35px;
        font-weight: 900;
        margin-bottom: 5px;
    }
    p {
        color: $gray_text;
        font-size: calc(18px - 2px);
        margin-bottom: 0;
    }
}

.field-style {
    margin-bottom: 18px!important;
    label {
        color: $black-txt;
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
    }
    input {
        height: auto;
        padding: 7px 30px 7px 18px;
        border: 1px solid #F4E2FF;
        font-size: $base-font - 4px;
        &::placeholder {
            color: $gray_text;
            font-size: calc(16px - 2px);
            line-height: 22px;
        }
    }
    .password-input {
        position: relative;
        i {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
            font-size: 14px;
            color: $gray_text;
        }
    }
}

.policy-cont {
    margin-bottom: 25px;
    small {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: $gray_text;
    }
}

.purple-link {
    a {
        color: $purple_text!important;
        border-bottom: 1px solid $purple_text;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            color: $purple_text!important;
        }
    }
}

.accnt {
    padding: 30px 0;
    text-align: center;
}

.small_bold {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: $gray_text;
}

.line {
    text-align: center;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        border-bottom: 1px solid #F4E2FF;
        right: 0;
        top: 50%;
        left: 0;
        z-index: -1;
    }
    span {
        color: $gray_text;
        font-size: 14px;
        line-height: 20px;
        background-color: #fff;
        padding: 15px 25px;
    }
}

.insta-btn {
    margin: 40px 0px;
    text-align: center;
}

.purple-overlay {
    position: relative;
    overflow-x: hidden;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        background: transparent linear-gradient(138deg, #C077EE 0%, #B24BF3 100%) 0% 0%;
    }
}

.form-right {
    @include flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: relative;
    .shapes {
        position: absolute;
        img {
            width: 100%;
        }
    }
    .wave-shapes {
        top: 20%;
        width: 130px;
        left: -80px;
    }
    .dot-horz {
        bottom: 0;
        left: -10px;
        width: 200px;
    }
    .dot-vert {
        top: 15%;
        right: -155px;
        width: 80px;
    }
}

// forget password starts
.forget-password {
    padding: 0 0 18px;
    small {
        a {
            color: $purple_text;
            font-size: 15px;
            line-height: 22px;
        }
        &:hover {
            color: $purple_text;
        }
    }
}

.title-col.no-cont {
    h2:after {
        display: none;
    }
}

// details page starts
.detail-left {
    height: 560px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.detail-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    .detail-left {
        img {
            width: 100%;
        }
    }
    .detail-tab {
        .nav-tabs {
            border: none;
            margin-bottom: 15px !important;
            border-top: 1px solid $theme-border;
            padding-top: 5px!important;
            margin-top: 15px!important;
            .nav-link {
                border: 0;
                margin: 0;
                color: $gray_text;
                font-size: 16px;
                position: relative;
                margin-right: 45px!important;
                padding: 0;
                padding: 10px 0;
                &:after {
                    position: absolute;
                    content: "";
                    width: 6px;
                    height: 6px;
                    background-color: #B24BF3;
                    border-radius: 50%;
                    bottom: 2px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    opacity: 0;
                    visibility: hidden;
                    transition: all 500ms ease-in-out 0s;
                }
                &:hover {
                    border: 0;
                    color: $purple_text!important;
                }
                &.active {
                    color: $purple_text!important;
                }
                &.active:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .detail-right {
        &>.theme-card {
            min-height: 570px;
            position: relative;
            overflow: hidden;
        }
    }
}

.detail-title-col {
    margin-bottom: 15px;
    h2 {
        color: $black-txt;
        font-size: 25px;
        line-height: 40px;
        font-weight: 600;
        margin: 0;
    }
    .link-icon {
        background-color: #EEEEEE;
        padding: 4px;
        cursor: pointer;
    }
}

.item-info {
    p {
        font-size: $base-font - 2px;
        line-height: 22px;
        color: #606264;
        display: block;
        margin-bottom: 10px;
    }
}

.place-bid {
    margin-top: 5px;
    .bid-input {
        background-color: #FAFAFA;
        border: 1px solid $theme-border;
        padding: 4px 15px;
        height: auto;
        &::placeholder {
            color: $black-txt;
            font-size: 14px;
            line-height: 22px;
            font-weight: 600;
        }
    }
}

.service-fee {
    small {
        font-size: calc(16px - 3px);
        line-height: 22px;
        color: $gray_text;
        margin-top: 10px;
        span {
            color: #B24BF3;
            font-weight: 600;
            font-size: calc(16px - 4px);
        }
    }
}

.bid-list {
    margin-top: 10px;
    ul {
        li {
            padding: 12px 5px;
            .user_Bid {
                .name-col {
                    small {
                        color: $gray_text;
                        font-size: 14px;
                        span {
                            color: $black-txt;
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.border-list {
    max-height: 300px;
    padding: 0 0 80px;
    ul {
        li {
            border-bottom: 1px solid $theme-border;
        }
    }
}

.highest-bid {
    box-shadow: 0px -3px 6px #0000000f;
    background-color: white;
    border-radius: 0px 0px 6px 6px;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    .user-img {
        width: 42px;
        height: 42px;
    }
    .highbid-desp {
        h6 {
            color: $gray_text;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            margin-bottom: 3px;
        }
        h5 {
            font-size: 15px;
            line-height: 22px;
            margin: 0;
        }
    }
}

// create post section starts
.create-post-wrapper {
    max-width: 550px;
    margin: 0 auto;
    .create-inner {
        .create-fieldstyle:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    .create-fieldstyle {
        label {
            display: block;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            margin-bottom: 12px;
        }
        input {
            border: 0;
            border-bottom: 1px solid #F4E2FF;
            height: auto;
            padding: 6px 0px;
            border-radius: 0!important;
            transform: all 500ms ease-in-out 0s;
            &:focus {
                padding: 6px 10px!important;
                border-radius: 4px!important;
                border: 1px solid #F4E2FF;
            }
            &::placeholder {
                color: #A8A8A8;
                font-size: 16px;
            }
        }
        .upload-col {
            text-align: center;
            border: 2px dashed #B24BF3;
            padding: 25px;
            width: 100%;
            border-radius: 8px;
            img {
                width: 25px;
                margin: 0 auto;
                display: block;
            }
            span {
                color: $black-txt;
                font-size: 15px;
                line-height: 22px;
                margin: 15px 0;
                display: block;
            }
            .upload-btn-wrapper {
                position: relative;
                overflow: hidden;
                display: inline-block;
                padding: 0 10px 10px;
                margin: 0 auto;
            }
            .upload-btn-wrapper input[type=file] {
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                cursor: pointer;
            }
        }
        .eth-col {
            position: relative;
            .eth-div {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translate(0, -50%);
                background: transparent linear-gradient(109deg, #8B93B4 0%, #626890 100%);
                padding: 3px 12px;
                color: #fff;
                font-size: 11px;
                text-align: center;
                border-radius: 17px;
            }
        }
    }
}

.upload-col {
    text-align: center;
    border: 2px dashed #B24BF3;
    padding: 25px;
    border-radius: 8px;
    img {
        width: 25px;
        margin: 0 auto;
        display: block;
    }
    span {
        color: $black-txt;
        font-size: 15px;
        line-height: 22px;
        display: block;
        margin: 15px 0;
    }
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        padding: 0 10px 10px;
        margin: 0 auto;
    }
    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }
}

// My-items section starts
.myitems-wrapper {
    max-width: 800px;
    margin: 0 auto;
    .items-tabs {
        .nav-tabs {
            border-bottom: 1px solid $theme-border;
            margin-bottom: 30px!important;
            .nav-link {
                border: 0!important;
                padding: 10px 0!important;
                margin-right: 30px;
                color: $gray_text;
                font-size: 16px;
                &.active {
                    border-bottom: 2px solid #B24BF3!important;
                    color: $purple_text;
                }
            }
        }
        .item-title {
            margin-bottom: 5px;
        }
        .item-img {
            width: 165px;
            height: 100%;
            margin-left: auto;
            border: 2px solid #B24BF3;
            padding: 5px;
            border-radius: 6px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .item-tab-inner {
            a {
                display: block;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.btm-bid-info {
    padding: 20px 0 0;
    border-top: 1px solid $theme-border;
    margin-top: 15px;
    span {
        color: $gray_text
    }
}

.bid-desp {
    small {
        color: $black-txt;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
    }
    &>.row>[class*=col] {
        margin-top: 10px!important;
    }
}

.title-drop {
    .btn-group {
        .dropdown-toggle {
            width: 118px;
            padding: 6px 12px;
            border: 1px solid $theme-border;
            border-radius: 5px;
            font-size: 13px;
            font-weight: 500;
            box-shadow: 0px 3px 6px #0000000F;
            &:after {
                position: absolute;
                right: 17px;
                top: 55%;
                transform: translate(0, -50%) rotate(45deg);
                width: 6px;
                height: 6px;
                border: 1px solid #000;
                border-right: 0;
                border-bottom: 0;
            }
        }
        .dropdown-menu {
            min-width: 118px!important;
            border: 1px solid $theme-border!important;
            box-shadow: 0px 3px 6px #0000000F;
            .dropdown-item {
                font-size: 13px;
                &:hover {
                    background-color: #F4E2FF!important;
                }
            }
        }
    }
}

.status-div {
    margin-bottom: 10px;
    span {
        font-size: 12px;
        display: inline-block;
        padding: 5px 8px;
        line-height: 12px;
        color: #fff;
        border-radius: 4px;
    }
}

.active-item {
    background: transparent linear-gradient(110deg, #5FDBA7 0%, #4ECF99 100%);
}

.not-active {
    background: transparent linear-gradient(111deg, #F85753 0%, #E43A36 100%);
}

// my-account section starts
.auth-wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

.account-col {
    .theme-card {
        position: relative;
        height: 100%;
        width: 380px;
        .acct-name {
            img {
                width: 35px;
            }
            span {
                color: $black-txt;
                font-size: $base-font;
                font-weight: 600;
            }
        }
        .stepArrow {
            position: absolute;
            top: 50%;
            right: -15px;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: transparent linear-gradient(127deg, #C077EE 0%, #B24BF3 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                color: #fff;
                font-size: 12px;
            }
        }
        .acct-desp {
            p {
                font-size: $base-font - 2px;
                color: $black-txt;
                line-height: 22px;
            }
        }
    }
    .logoutBtn {
        span {
            color: $black-txt;
            font-size: $base-font;
            font-weight: 600;
        }
    }
}

// personal-info section starts
.personal-infocol {
    .info-div {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        input {
            margin: 15px 0px;
            border: 1px solid $theme-border;
            &::placeholder {
                color: $black-txt;
                font-size: $base-font - 4px;
            }
        }
    }
    .inner-Info {
        span {
            display: block;
            color: $gray_text;
            font-size: $base-font - 2px;
            +span {
                color: $black-txt;
            }
        }
    }
}

.action-col {
    a {
        color: $purple_text!important;
        cursor: pointer;
    }
}

.change-img {
    width: 350px;
    margin-left: auto;
    .theme-card {
        padding: 30px;
    }
    .uplImg {
        width: 140px;
        height: 140px;
        margin: 0 auto 20px;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .upload-col {
        border: 0;
        padding: 0 0;
        .upload-btn-wrapper {
            padding: 0;
        }
    }
}

.stepList {
    margin-bottom: 20px;
    ul {
        li {
            position: relative;
            padding: 0 20px;
            &:first-child {
                padding-left: 0;
                span {
                    color: #7F7F7F;
                    font-size: $base-font - 2px;
                }
            }
            &:not(:last-child)::before {
                content: "\f105";
                position: absolute;
                font-family: FontAwesome;
                display: inline-block;
                padding-right: 3px;
                vertical-align: middle;
                top: 50%;
                right: -5px;
                -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                font-size: 20px;
                color: #000;
            }
        }
    }
}

.active-stepList {
    font-weight: 600;
    color: $black-txt;
}

// connect-wallet section starts
.connect-wallet-section {
    .item-info {
        span {
            font-size: 16px!important;
        }
    }
    .wallet-btn {
        margin: 25px 0px;
    }
}

// wallet sections starts
.wallet-amount {
    max-width: 270px;
    .theme-card {
        padding: 25px;
        img {
            width: 15px;
            padding-bottom: 8px;
        }
        h5 {
            margin: 0 10px;
            span {
                font-size: 25px!important;
            }
        }
    }
}

.txt-md {
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
}

// change password page starts
.change-password-col {
    max-width: 600px;
}

// error page starts
.error-inner {
    h1 {
        font-size: 150px;
        line-height: 160px;
        font-weight: 900;
        color: $black-txt;
    }
    p {
        font-size: 30px;
        line-height: 35px;
        color: $black-txt;
        margin-top: 13px;
        font-weight: 600;
    }
}

// Responisve starts
@media(max-width:1366px) {
    .detail-title-col {
        margin-bottom: 10px;
        h2 {
            font-size: 20px;
            line-height: 30px;
        }
    }
    .top-space {
        margin-top: 140px;
    }
    .hall-section {
        .theme-card {
            padding: 10px;
        }
    }
    .auth-section-height {
        min-height: calc(100vh - 514px);
    }
    .auth-top-space {
        margin-top: 125px;
    }
    .footer-section {
        .footer-cont {
            .footer-links {
                ul {
                    li {
                        a {
                            font-size: calc(20px - 4px);
                        }
                    }
                }
            }
            .footer-title {
                h5 {
                    font-size: calc(20px - 4px);
                }
            }
        }
    }
    .nav-menu {
        .menu-list {
            &>ul {
                &>li {
                    &>a {
                        font-size: calc(18px - 2px);
                    }
                }
            }
        }
    }
    .currency-txt {
        font-size: 12px;
    }
    .logo {
        width: 280px;
    }
    .nav-menu {
        .search-bar {
            width: 230px;
        }
    }
    .trending-section {
        .theme-card {
            .cards-footer {
                h4 {
                    font-size: calc(22px - 6px);
                }
            }
        }
    }
    .form-right {
        .dot-vert {
            top: 15%;
            right: -70px;
        }
    }
    .nav-menu {
        .menu-list {
            &>ul {
                &>li {
                    margin-left: 20px;
                    font-size: $base-font - 3px;
                }
            }
        }
    }
    .item-info {
        p {
            font-size: $base-font - 3px;
            line-height: 20px;
        }
    }
    .account-col {
        .theme-card {
            width: 350px;
        }
    }
    .theme-card {
        small {
            font-size: calc(16px - 2px);
        }
    }
    .trending-section {
        .theme-card {
            padding: 12px;
            .cards-body {
                height: 230px;
            }
        }
    }
    .form-wrapper {
        .logo {
            margin-bottom: 40px;
        }
    }
    .form-img {
        max-width: 420px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .form-title {
        h2 {
            font-size: calc(34px - 8px);
        }
    }
    .title-col {
        h2 {
            font-size: 24px;
        }
    }
}

@media(max-width:1280px) {
    .nav-menu .menu-list>ul>li {
        margin-left: 15px;
    }
    .nav-menu .menu-list>ul>li>a {
        font-size: calc(18px - 4px);
    }
    .nav-menu .search-bar {
        width: 200px;
    }
}

@media(max-width:1199px) {
    .logo {
        width: 230px;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 55;
        background-color: #ffffff;
        flex-direction: column;
        justify-content: center;
        transition: all 500ms ease-in-out 0s;
        transform: translate(-100%, 0);
        .menu-list {
            padding: 60px 0;
            max-height: 100%;
            overflow-y: auto;
            width: 100%;
            &>ul {
                flex-direction: column;
                &>li {
                    margin-left: 0;
                    margin-bottom: 40px;
                    &:last-child:hover::before {
                        visibility: hidden;
                        opacity: 0;
                    }
                }
            }
        }
    }
    .opennav .nav-menu {
        transform: translate(0, 0);
    }
    .subscribe-input {
        margin-bottom: 40px;
    }
    .form-wrapper {
        padding-right: 10px;
    }
    .account-col {
        .theme-card {
            width: 280px;
            .acct-desp {
                p {
                    font-size: $base-font - 3px;
                    line-height: 20px;
                }
            }
        }
    }
    .logoutBtn {
        .theme-card {
            padding: 12px 15px;
        }
    }
    .form-img {
        max-width: 350px;
    }
    .nav-menu .search-bar {
        width: 300px;
    }
    .nav-menu .menu-list>ul>li>a {
        font-size: calc(18px - 2px);
    }
}

@media(max-width:991px) {
    .footer-links {
        ul {
            li {
                +li {
                    margin-top: 8px!important;
                }
            }
        }
    }
    .subscribe-input {
        margin-bottom: 0;
    }
    .footer-row {
        .row>[class*=col]:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    .section-space {
        margin: 50px 0;
    }
    .hall-section.section-btm-space {
        margin-bottom: calc(70px - 30px);
    }
    .trending-section.section-space {
        margin: 40px 0;
    }
    .title-col {
        h2:after {
            display: none;
        }
    }
    .top-space {
        margin-top: calc(180px - 50px);
    }
    .title-col {
        margin-bottom: calc(30px - 20px);
        h2 {
            font-size: calc(30px - 5px);
        }
    }
    .bid-wrapper {
        .slide-btn {
            top: -60px;
        }
    }
    .purple-overlay:before {
        display: none;
    }
    .form-wrapper {
        padding-right: 0;
    }
    .form-title {
        h2 {
            font-size: calc(34px - 8px);
        }
    }
    .form-wrapper {
        padding-top: 20px;
        .logo {
            margin-bottom: 40px;
        }
    }
    .form-title {
        p {
            font-size: calc(18px - 3px);
        }
    }
    .detail-left {
        margin-bottom: 30px;
        max-height: 350px;
        img {
            border-radius: 10px;
        }
    }
    .title-col {
        h2 {
            font-size: 25px;
        }
    }
    .account-col {
        .row>[class*=col] {
            margin-bottom: 20px;
        }
        .theme-card {
            width: 100%;
        }
    }
    .change-img {
        margin: 30px auto 40px;
    }
}

@media(max-width:767px) {
    .theme-card {
        .cards-footer {
            h4 {
                font-size: calc(22px - 4px);
            }
            small {
                font-size: calc(16px - 2px);
                span {
                    font-weight: 500;
                }
            }
        }
    }
    .myitems-wrapper {
        .items-tabs {
            .item-img {
                width: 100%;
                height: 250px;
                margin-left: 0;
                margin-bottom: 30px;
            }
        }
    }
    .footer-logo {
        img {
            width: 160px;
        }
    }
}

@media(max-width:575px) {
    .buy-btn {
        margin-top: 12px;
    }
    .highest-bid {
        .user-img {
            margin-left: auto;
        }
    }
    .detail-title-col {
        h2 {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 10px;
        }
    }
    .account-col {
        .theme-card {
            .stepArrow {
                right: -8px;
            }
        }
    }
    .footer-section {
        .footer-row {
            padding: 40px 0;
        }
    }
    .highest-bid {
        position: static;
        margin: 0 -30px;
        padding: 30px 30px 10px;
        border: 1px solid $theme-border;
        border-bottom: 0;
    }
    .border-list {
        padding: 0 0 20px;
    }
}

@media(max-width:480px) {
    .border-list {
        padding: 0 0 10px;
    }
    .detail-title-col {
        h2 {
            font-size: 20px;
            line-height: 25px;
        }
    }
}

@media(max-width:414px) {
    .bid-desp {
        small {
            span {
                display: block;
            }
        }
    }
    .btm-bid-info {
        span {
            font-size: $base-font - 4px;
        }
        .user-img {
            width: 30px;
            height: 30px;
        }
        .user_name {
            .name-col {
                h5 {
                    font-size: $base-font - 5px;
                }
                small {
                    font-size: $base-font - 4px;
                }
            }
        }
    }
    .auth-btn {
        padding: 10px 20px;
    }
    .change-img {
        width: 100%;
        .uplImg {
            width: 100px;
            height: 100px;
        }
    }
    .btn.btn-wallet {
        min-width: 300px;
        padding: 11px 20px !important;
    }
}

@media(max-width:375px) {
    .highest-bid {
        .highbid-desp {
            h6,
            h5 {
                font-size: $base-font - 4px;
                line-height: 18px;
            }
        }
    }
}


/* Importing Bootstrap SCSS file. */