<!-- Detail page starts -->

<section>
    <div class="detail-page top-space border-card section-btm-space">
        <div class="container">
            <div class="detail-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="detail-left">
                            <img src="{{ itemMetadata?.image }}" alt="..." />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="detail-right">
                            <div class="theme-card border-card">
                                <div class="
                    detail-title-col
                    d-flex
                    align-items-center
                    justify-content-between
                  ">
                                    <h2>{{ itemMetadata?.name }}</h2>
                                    <div class="link-icon" (click)="copyURL()">
                                        <img src="assets/Icons/link.png" alt="..." />
                                    </div>
                                </div>
                                <div class="item-info">
                                    <p>
                                        Minimum bidding price
                                        <span class="currency-txt">{{ startPrice }} BNB</span>
                                    </p>
                                    <p>{{ itemMetadata?.description }}.</p>
                                </div>
                                <div class="detail-tab">
                                    <tabset>
                                        <!-- Creator Tab -->
                                        <tab heading="Creator">
                                            <div class="theme-card border-card">
                                                <div class="place-bid" *ngIf="!AuctionOwner">
                                                    <div class="form-row w-100 align-items-center">
                                                        <div class="col-sm">
                                                            <input type="text" class="form-control bid-input" placeholder="Bid Price" [(ngModel)]="bidPrice" name="Bid" #Bidding="ngModel" required pattern="[0-9]+([\.,][0-9]+)?" />
                                                            <small class="text-danger" *ngIf="submitted && Bidding.errors?.required">
                                Please enter bid price.
                              </small>
                                                            <small class="text-danger" *ngIf="submitted && Bidding.errors?.pattern">
                                Please enter number only.
                                </small>
                                                        </div>
                                                        <div class="col-sm-auto text-center mt-3 mt-sm-0">
                                                            <button class="btn text-capitalize btn-sm" (click)="placeBid(Bidding)">
                                <i class="spinner-border text-success" *ngIf="isLoading"></i>
                                Place Bid
                              </button>
                            </div>
                          </div>
                          <div class="service-fee">
                            <small>Service fee 2%</small>
                          </div>
                        </div>
                      </div>
                      <div class="bid-list">
                        <ul>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col-auto">
                                <div class="user-img">
                                  <img src="{{profileImage?profileImage:'assets/Icons/logo.ico'}}" alt="" />
                                </div>
                              </div>
                              <div class="col">
                                <div class="user_name">
                                  <div class="name-col">
                                    <h5 class="m-0">Owner</h5>
                                    <small>{{ owner }}</small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </tab>
                    <!-- Bid Tab -->
                    <tab heading="Bids">
                      <div class="theme-card border-card">
                        <div class="place-bid" *ngIf="!AuctionOwner">
                          <div class="form-row w-100 align-items-start">
                            <div class="col-sm">
                              <input
                                type="text"
                                class="form-control bid-input"
                                placeholder="Bid Price"
                                [(ngModel)]="bidPrice"
                                name="Bid"
                                #price="ngModel"
                                required
                                pattern="[0-9]+([\.,][0-9]+)?"
                              />
                              <small class="text-danger" *ngIf="submitted && price.errors?.required">Please enter Bid Price</small>
                              <small class="text-danger" *ngIf="submitted && price.errors?.pattern">Please enter number only</small>
                            </div>
                            <div class="col-sm-auto text-center mt-3 mt-sm-0">
                              <button class="btn text-capitalize btn-sm" (click)="placeBid(Bidding)">
                                <i class="spinner-border text-success" *ngIf="isLoading"></i>
                                Place Bid
                              </button>
                            </div>
                          </div>
                          <div class="service-fee">
                            <small>Service fee 2%</small>
                          </div>
                        </div>
                      </div>
                      <div
                        class="bid-list border-list"
                        malihu-scrollbar
                        [scrollbarOptions]="scrollbarOptions"
                      >
                        <ul>
                          <li *ngFor="let item of bids">
                            <div class="form-row align-items-center">
                              <div class="col-auto">
                                <div class="user-img">
                                  <img src="{{item.img?item.img:'assets/Icons/logo.ico'}}" alt="" />
                                </div>
                              </div>
                              <div class="col">
                                <div class="user_Bid">
                                  <div class="name-col">
                                    <span class="currency-txt"
                                      >{{ item?.amount }} BNB</span
                                    >
                                    <small>by <span>{{ item?.from }}</span></small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </tab>
                                    </tabset>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </tab>
                  </tabset>
                </div>
                <div class="highest-bid">
                  <div class="row">
                    <div class="col-sm" *ngIf="bidAmount > 0">
                      <div class="form-row">
                        <div class="col-sm-auto col-4">
                          <div class="user-img">
                            <img src="{{highestBidderImg?highestBidderImg:'assets/Icons/logo.ico'}}" alt="" />
                          </div>
                        </div>
                        <div class="col-sm col-8">
                          <div class="highbid-desp">
                            <h6>
                              Highest bid by
                              <span class="currency-txt">{{ bidFrom }}</span>
                            </h6>
                            <h5 class="currency-txt">{{ bidAmount }} BNB</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-auto">
                      <div
                        class="buy-btn text-center"
                        *ngIf="AuctionOwner && bidAmount > 0"
                      >
                        <button
                          class="btn text-capitalize btn-sm"
                          data-toggle="modal"
                          data-target="#staticBackdrop"
                          (click)="finalizeAuction()"
                        >
                          SELL
                        </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- follow step popup -->

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Follow Steps</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBtn>
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="steps-row">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="step-left">
                                <div class="spinner-border text-primary" role="status" *ngIf="finaliseAuction">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="tick" *ngIf="!finaliseAuction && finaliseAuctionCompleted">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="step-right">
                                <h3>Finalise Auction</h3>
                                <span>End the auction.</span>
                            </div>
                        </div>
                    </div>
                    <div class="step-btn">
                        <button class="btn grey-btn d-block" *ngIf="finaliseAuction">
              In Progress
            </button>
                        <button class="btn d-block w-100" *ngIf="!finaliseAuction && finaliseAuctionCompleted">
              Finalise Auction
            </button>
                    </div>
                </div>
                <div class="steps-row mt-3">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="step-left">
                                <div class="spinner-border text-primary" role="status" *ngIf="transferAuction">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="tick" *ngIf="!transferAuction && transferAuctionCompleted">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="step-right">
                                <h3>Transfer Item</h3>
                                <span>Item transfering</span>
                            </div>
                        </div>
                    </div>
                    <div class="step-btn">
                        <button class="btn grey-btn d-block" *ngIf="transferAuction">
              In Progress
            </button>
                        <button class="btn d-block w-100" *ngIf="!transferAuction && transferAuctionCompleted">
              Auction Created
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>